body{ 
    background-color: rgb(247, 206, 153);
}
h1{
    font-size: 60px;
    color:rgb(150, 105, 192);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: center;
}
    img{
        width: 14%;
        height: 14%;
        margin-left: 14%;
    }
        
    